body {
  background: #fffffd;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* MAIN PAGE STYLING ------------------------------------------------- */

.mainPage {
  margin-top: 5vh;
}

.biglogo {
  max-height: 150px;
  margin-top: 10px;
}

.mainButton1 {
  background-image: linear-gradient(
    to right,
    #ffafbd 0%,
    #ffc3a0 51%,
    #ffafbd 100%
  );
  margin: auto;
  margin-top: 35px;
  padding: 15px 45px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: 0px solid white;
  border-radius: 100px;
  display: inline-block;
}

.mainButton1:hover {
  box-shadow: 0px 0px 30px #fff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.mainButton2 {
  background-image: linear-gradient(
    to right,
    #ffafbd 0%,
    #ffc3a0 51%,
    #ffafbd 100%
  );
  margin: auto;
  margin-left: 50px;
  padding: 15px 45px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: 0px solid white;
  border-radius: 100px;
  display: inline-block;
}

.mainButton2:hover {
  box-shadow: 0 0 20px #eee;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* HOME FEED STYLING ------------------------------------------------- */

.feedCards {
  padding: 15px 15px;
  margin-top: 15px;
  color: #0c2e79;
}

.singlePost {
  margin: auto;
  /* box-shadow: 10px 10px 15px #ececec; */
  border: double 8px transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #ff9100, rgb(255, 157, 173), #0e59fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.postImage {
  width: 33rem;
  margin: auto;
}

.postInfo {
  height: 100px;
  background-color: white;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}

.date {
  font-size: 12px;
  color: #999999;
}

.homeUsername {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

/* NAVBAR STYLING ------------------------------------------------- */

.navi {
  border-bottom: 1px solid rgb(223, 223, 223);
  background: white;
  text-align: center;
}

.logo {
  margin-right: 50%;
}

/* MYPROFILE STYLING ------------------------------------------------- */

.profilePic {
  border: double 5px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #ff9100, rgb(255, 157, 173), #0e59fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  max-height: 150px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.profileFeed {
  margin: auto;
  margin-bottom: 20px;
}

.profileInfo {
  margin-bottom: 50px;
}

.myPosts {
  margin-left: 8%;
}

.username {
  font-weight: 600;
  font-size: larger;
  color: #2562e6;
}

.realName {
  font-size: 14px;
  color: #999;
}

/* NEW POST PAGE STYLING ------------------------------------------------- */

.newPostForm {
  max-width: 500px;
  margin: auto;
  margin-top: 15vh;
  /* border: solid 3px white; */
  box-shadow: 10px 10px 20px #ececec;
  padding: 30px 30px;
  background-image: linear-gradient(
    to bottom right,
    #4d85ff 0%,
    #fdb8c4 50%,
    #ffb759 100%
  );
  border-radius: 5%;
  font-size: medium;
  color: white;
}

.postButton {
  background-color: #6289db;
  width: 125px;
  border: none;
  margin-top: 10px;
}

.mb-3 {
  text-align: left;
}

.makePostTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}

/* REGISTER PAGE & FORM STYLING ------------------------------------------------- */

.registerForm {
  max-width: 500px;
  margin: auto;
  margin-top: 10vh;
  /* border: solid 3px white; */
  box-shadow: 10px 10px 20px #ececec;
  padding: 30px 30px;
  background-image: linear-gradient(
    to bottom right,
    #4d85ff 0%,
    #fdb8c4 50%,
    #ffb759 100%
  );
  border-radius: 5%;
  font-size: medium;
  color: white;
}

.registerButton {
  background-color: #6289db;
  width: 125px;
  border: none;
  margin-top: 10px;
}

.makeNewUser {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}
